
@liquor: rgba(140,100,100, 0.6);
@bottle: rgba(100,100,140, 0.6);

@price: rgba(180,100,100, 1);
@sacred: rgba(180,180,80, 1);
@amount: rgba(100,100,180, 1);
@submit: rgba(100, 160, 100, 1);

@property: rgba(240, 240, 240, 1);
@propertylabel: rgba(60, 60, 60, 1);
