@import 'forms.less';
@import 'colors.less';

.el-addbottle {
  .addbottle-liquor {
    height: 20em;
  }

  .addbottle-price {
    .property();
    background-color: @price;
  }

  .addbottle-sacred {
    .property();
    background-color: @sacred;
  }

  .addbottle-submit {
    .property();
    background-color: @submit;
  }
}
