@import 'colors.less';
@import 'forms.less';
@import 'transitions.less';

.el-bottle {
  background-image: url('static/dummy.jpg');
  height: inherit;
  background-image: inherit;
  background: center no-repeat;
  cursor: pointer;

  .bottle-info {
    .colorize(@bottleoverlay);
    width: inherit;
    height: inherit;
    padding: 1em;
    position: relative;
  }

  .bottle-name {
    color: @lightfont;
  }

  .bottle-owner {
    color: @lightfont;
    font-style: italic;
  }

  .bottle-size {
    height: 5em;
    position: absolute;
    width: 3em;
    bottom: 1em;
    right: 1em;
    background-color: @liquor;
    .bottle-amount {
      color: @lightfont;
      position: absolute;
      bottom: 0;
      background-color: @cabinet;
      width: inherit;
      text-align: center;
    }
    .bottle-amount::after {
      content: "L";
      color: @darkfont;
      font-style: italic;
    }
  }
}
