@import 'colors.less';
@import 'forms.less';

.el-bottle {
  background-image: url('static/dummy.jpg');
  height: inherit;
  background-image: inherit;
  background: center no-repeat;

  .bottle-info {
    background-color: @bottle;
    width: inherit;
    height: inherit;
    padding: 1em;
  }

  .bottle-name {
    .property();
  }

  .bottle-owner {
    .property();
    font-style: italic;
  }
}
