@import 'colors.less';
@import 'forms.less';
@import 'transitions.less';

.el-bottle {
  background-image: url('static/dummy.jpg');
  height: inherit;
  background-image: inherit;
  background: center no-repeat;
  cursor: pointer;

  .bottle-info {
    .colorize(@bottle);
    width: inherit;
    height: inherit;
    padding: 1em;

  }

  .bottle-name {
    .property();
  }

  .bottle-owner {
    .property();
    font-style: italic;
  }
}
