@import 'colors.less';
@import 'forms.less';
@import 'transitions.less';

.el-drink {
  white-space: nowrap;
  text-align: center;
  &:nth-child(even) {
    background-color: lighten(@secondary, 10%);
  }

  &:last-child {
    border-bottom: 0.5em solid @secondary;
  }

  .partOfMsg(@color) {
    display: inline-block;
    color: @color;
    white-space: nowrap;
  }

  .drink-time {
    .partOfMsg(@drink);
    font-size: 0.8em;
    width: 4em;
    // &::after {
    //   color: @propertylabel;
    //   content: " ago";
    // }
  }

  .drink-user {
    .partOfMsg(@user);
    &::before {
      content: "\00a0";
    }
    &::after {
      color: @propertylabel;
      content: " poured";
    }
  }

  .drink-size {
    .partOfMsg(@amount);

    &::before {
      content: "\00a0";
    }
    &::after {
      content: "ml";
    }
  }

  .drink-bottle {
    .partOfMsg(@bottle);

    &::before {
      color: @propertylabel;
      content: "\00a0 from ";
    }
    &::after {
      color: @propertylabel;
      content: ".";
    }
  }
}
