@import 'colors.less';
@import 'forms.less';

.el-lastbottles {

  background-color: @bottle;

  .lastbottles-ctrls {
    .lastbottles-title {
      .title();
      display: inline-block;
    }
    .lastbottles-addbottle {
      .title();
    }
  }

  .lastbottles-bottle {
    height: 20em;
    overflow: hidden;
    padding: 0;
  }
}
