@import 'colors.less';
@import 'forms.less';

.el-lastbottles {
  .lastbottles-top,
  .lastbottles-bottom {
    background: center 70%;
    background-image: url('../static/cabinet_top_repeat.jpeg');
    height: 5em;
  }

  .lastbottles-ctrls {
    background-color: @cabinet;
    height: inherit;
    .lastbottles-title {
      .title();
      display: inline-block;
    }
    .lastbottles-addbottle {
      .title();
      display: inline-block;
    }
  }
  .lastbottles-bottles {
    background-color: @bottle;
    .lastbottles-bottle {
      height: 20em;
      overflow: hidden;
      padding: 0;
    }
  }
}
