@import 'colors.less';
@import 'transitions.less';

.el-menu {
  .menu-icon {
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    color: @darkfont;
    border: 1px solid @primary;
    border-radius: 1000px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: @secondary;
    cursor: pointer;

    &:hover {
      background-color: darken(@secondary, 10%);
    }
  }

  .menu-list {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    // position: fixed;
    // top: 0;
    // z-index: 1;
    background-color: @primary;
    width: 100%;

    .menu-item {
      a {
        link-style: none;
        color: @lightfont;
        padding: 1em;
        text-transform: uppercase;
      }
    }
  }

  &.active {
    .menu-icon {
      color: @lightfont;
      background-color: darken(@secondary, 10%);
    }
    .menu-list {
      transition: 1s ease-in-out;
      visibility: visible;
      max-height: 40em; // trivially large
    }
  }
}
