@nav-width: 22rem;

.el-navigation {
  position: fixed;
  top: 0;
  left: -@nav-width;
  background-color: @primary;
  height: 100%;
  width: @nav-width;
}

.el-navigation {
  &.active,
  &.active + .js-page-canvas {
    -webkit-transform: translateX(@nav-width);
    transform: translateX(@nav-width);

    -webkit-transform: translate3d(@nav-width, 0, 0);
    transform: translate3d(@nav-width, 0, 0);
  }
}

.el-navigation i {
  width: 4rem;
  text-align: center;
}

.el-navigation a {
  &:extend(.text-link);
  display: block;
}

.el-navigation a:first-child {
  &:extend(.text-btn);
  text-align: center;
}

.js-movable {
  -webkit-transform: translateX(0);
  transform: translateX(0);

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.js-page-wrap {
  position: relative;
  overflow-x: hidden;
  width: 100%;
}

.js-page-canvas {
  width: 100%;
  height: 100%;
  position: relative;
}
