@import 'colors.less';

.property () {
  padding: 1em;
  color: @property;
  label {
    color: @propertylabel;
  }
  button {
    padding: 1em 3em;
    background-color: inherit;
    border: 0.2em @property solid;
    &:hover {
      opacity: 0.7;
      color: @propertylabel;
    }
  }
}

.title () {
  color: @property;
  text-transform: uppercase;
  padding: 0.2em;
}

.nav () {
  color: @propertylabel;
  text-transform: uppercase;
  padding: 0.2em;
}

.module (@color) {
  background-color: @color;
  border-top: @color 0.5em solid;
  border-bottom: @color 0.5em solid;
}
