@import 'colors.less';

.property(@color) {
  background-color: @color;
  padding: 1em;
  color: @lightfont;
  label {
    color: @darkfont;
  }
  input {
    padding: 1em 1em;
    margin-left: 1em;
    background-color: @color;
    color: @darkfont;
    border: 0.2em darken(@color, 10%) solid;
    &:hover {
      background-color: lighten(@color, 10%);
    }
  }
  button {
    padding: 1em 3em;
    background-color: inherit;
    border: 0.2em @lightfont solid;
    &:hover {
      background-color: lighten(@color, 10%);
      color: @darkfont;
    }
  }
}

.title () {
  color: @lightfont;
  text-transform: uppercase;
  padding: 0.2em;
}

.nav () {
  color: @darkfont;
  text-transform: uppercase;
  padding: 0.2em;
}

.module (@color) {
  background-color: @color;
  border-top: @color 0.5em solid;
  border-bottom: @color 0.5em solid;
}
