@diff: 20%;

@primary: rgba(100, 100, 100, 1);
@primary--lighter: lighten(@primary, @diff);
@primary--darker: darken(@primary, @diff);
@primary-o: rgba(100, 100, 100, 0.7);
@primary-o--lighter: lighten(@primary-o, @diff);
@primary-o--darker: darken(@primary-o, @diff);

@secondary: rgba(200,200,200, 1);
@secondary--lighter: lighten(@secondary, @diff);
@secondary--darken: darken(@secondary, @diff);

@dark: rgba(20, 20, 20, 1);
@positive: rgba(100,200,100,1);
@negative: rgba(200,100,100,1);

@user: rgba(140, 100, 100, 1);
@useroverlay: rgba(140, 100, 100, 0.6);

@liquor: rgba(140,100,100, 1);
@liquoroverlay: rgba(140, 100, 100, 0.6);

@bottle: rgba(100,100,140, 1);
@bottleoverlay: rgba(100,100,140, 0.6);

@lightfont: rgba(240, 240, 240, 1);
@lightfont--darker: darken(@lightfont, @diff);
@darkfont: rgba(60, 60, 60, 1);
@darkfont--darker: darken(@darkfont, @diff);
