@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(http://fonts.googleapis.com/css?family=Halant);

@font-serif: Halant, Georgia, serif;
@font-sans: Roboto, Arial, sans-serif;

@size-base: 16px;
@size-button: 1.5rem;
@size-navigation: 2rem;
@size-icon: 3rem;
@size-icon--large: 8rem;

@weight-book: 100;
@weight-normal: 400;
@weight-medium: 500;
@weight-bold: 700;

@lineHeight-base: 1.5;
@lineHeight-header: 1.2;
@lineHeight-tight: 1.2;
@lineHeight-none: 1;

@horizontalMargin-sectionHeader: 30px;

@letterSpacing-meta: 0.012em;

@hover-shift: 10%;
