<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="build/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="build/barkeep.bundle.css">
</head>
<body>
  <div class="container-fluid">
    <div id="menu-region"></div>
    <div id="barkeep-region"></div>
    <div id="footer-region"></div>
  </div>
  <script src="build/app.bundle.js"></script>
</body>
</html>
