<html>
<head>
  <script src="build/lib.js"></script>
  <link rel="stylesheet" type="text/css" href="build/style.css">
</head>
<body>
  <div class="container-fluid">
    <div id="barkeep-region"></div>
    <div id="footer-region"></div>
  </div>
  <script src="build/app.js"></script>
</body>
</html>
